<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthorizationWCFContract" />
                <binding name="BasicHttpBinding_ICacheWCFContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8070/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAuthorizationWCFContract"
                contract="AuthorizationServiceReference.IAuthorizationWCFContract"
                name="BasicHttpBinding_IAuthorizationWCFContract" />
            <endpoint address="http://localhost:8080/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICacheWCFContract"
                contract="CacheServiceReference.ICacheWCFContract" name="BasicHttpBinding_ICacheWCFContract" />
        </client>
    </system.serviceModel>
</configuration>