<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthorizationWCFContract" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_ICacheWCFContract" closeTimeout="00:25:00"
                    openTimeout="00:25:00" receiveTimeout="00:25:00" sendTimeout="00:25:00"
                    maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8070/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAuthorizationWCFContract"
                contract="AuthorizationServiceReference.IAuthorizationWCFContract" />
            <endpoint address="http://localhost:8080/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICacheWCFContract"
                contract="CacheServiceReference.ICacheWCFContract" />
        </client>
    </system.serviceModel>
</configuration>