<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBindingConfiguration">
          <security mode="Transport">
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="HardwareInventoryService.Modules.Authorization.Host.Services.AuthorizationWCFContract">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8070" />
          </baseAddresses>
        </host>
        <!--Service Endpoints-->
        <endpoint binding="basicHttpBinding" contract="HardwareInventoryService.Modules.Authorization.Host.Interfaces.IAuthorizationWCFContract" address="http://localhost:8070">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8070" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>