<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JWTSecretKey" value="TW9zaGVFcmV6UHJpdmF0ZUtleQ==" />
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8080" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICacheWCF"
        contract="CacheServiceReference.ICacheWCFContract" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICacheWCF" maxBufferPoolSize="524288"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAuthWCF" closeTimeout="00:25:00"
          openTimeout="00:25:00" receiveTimeout="00:25:00" sendTimeout="00:25:00"
          maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="basicBindingConfiguration" maxBufferPoolSize="524288"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="HardwareInventoryService.Modules.Authorization.Host.Services.AuthorizationWCFContract">
        <endpoint address="http://localhost:8070" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IAuthWCF" contract="HardwareInventoryService.Modules.Authorization.Host.Interfaces.IAuthorizationWCFContract">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8070" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8070" />
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="HardwareInventoryEntities" connectionString="metadata=res://*/HardwareInventoryModel.csdl|res://*/HardwareInventoryModel.ssdl|res://*/HardwareInventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-ARTUR;initial catalog=HardwareInventory;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.9.4.0" newVersion="4.9.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>