<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="application" value="HardwareInventoryService.Modules.Authorization" />
  <variable name="path" value="C:/HardwareInventoryService/logs/"/>
  
  <targets>
    <target name="log" xsi:type="File" fileName="${path}/${application}/${application}-${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${identity} ${message}"/>
    <target name="debug" xsi:type="File" fileName="${path}/${application}/${application}-debug_${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${identity} ${message}"/>
    <target name="console" xsi:type="ColoredConsole" layout="[${longdate}] [${uppercase:${level}}] [${logger:shortName=true}] ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="log,console" />
    <logger name="*" level="Warn" writeTo="log,console" />
    <logger name="*" level="Error" writeTo="log,console" />
    <logger name="*" level="Fatal" writeTo="log,console" />
    <logger name="*" level="Debug" writeTo="debug,console" />
    <logger name="*" level="Trace" writeTo="debug,console" />
  </rules>
</nlog>
